.loaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; /* horizontally center the content */
  align-items: center; /* vertically center the content */
  background: transparent;
  z-index: 9999;
}

.loaderContent {
  display: flex;
  gap: 30px;
  align-items: center;
}

.icon {
  stroke: #555;
  stroke-width: 1.5;
}

.spinner {
  animation: rotate 2s linear infinite;
  stroke: #007bff;
}

.path {
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
