# Python
__pycache__/
*.py[cod]
*.env
*.sqlite3
*.log
*.db
venv/
.env

# Flask
instance/
*.pyc

# React (Node.js)
frontend/node_modules/
frontend/build/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Uploads
uploads/*
!uploads/.gitkeep
node_modules
