.savedTemplatePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  gap: 3rem;

  .titleSection {
    width: 100%;
    border-radius: 1rem;
    color: white;
    background: linear-gradient(135deg, #764ba2, #667eea);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    .title {
      font-size: 2.5rem;
      font-weight: 600;
    }
    .description {
      font-size: 1.5rem;
    }
  }
}
