.landingPage {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-self: center;
  .welcomeContainer {
    background: linear-gradient(to right, #667eea, #764ba2);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 1rem;
    padding: 2rem;
    .title {
      font-size: 2.5rem;
    }
    .description {
      font-size: 1.5rem;
    }
  }
  .mainNav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-top: 5rem;
    .contentBox {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 3rem;
      background-color: white;
      border-radius: 1rem;
      border: 1px solid #0000001a;
      box-shadow: 0 6px 30px rgba(0, 0, 0, 0.08);
      text-align: center;
      .iconSection {
        padding: 2rem;
        font-size: 3rem;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        color: white;
        width: fit-content;
      }

      .generateImageGradient {
        background: linear-gradient(135deg, #0072ff, #00c6ff);
      }
      .uploadPdfGradient {
        background: linear-gradient(135deg, #ff6ec4, #ffb347);
      }

      .titleSection {
        font-size: 2rem;
        font-weight: 400;
      }
      .description {
        font-size: 1.5rem;
        color: #64748b;
      }
      .actionButton {
        border: none;
        color: white;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        font-size: 1.2rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        .buttonIcon {
          font-size: 2.5rem;
        }
        .buttonText {
          font-size: 1.3rem;
        }
      }
    }
  }
}
